<% if(theme.footer){ %>
  <p><%= theme.footer %></p>
<% } %>

<script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js">
</script>

<p>
    本站总访问量<span id="busuanzi_value_site_pv"></span>次
    本文总阅读量<span id="busuanzi_value_page_pv"></span>次
</p>
<p>
  &copy; <%= new Date().getFullYear() %> <a href="<%= config.url %>"><% if (config.author){ %> <%= config.author %> <% } else { %> <%= config.title %> <% } %></a>
</p>
<a id="gotop" href="#" title="back to top"><i class="mdi-hardware-keyboard-arrow-up"></i></a>
